body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #af67e9;
}

.main {
    display: flex;
    align-items: center;
    background-image: url(images/bg-pattern-desktop.svg);
    font-size: 11px;
    height: 420px;
    width: 650px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #ffffff;
}

.image--main {
    width: 300px;
    margin-left: -20%;
}

.main-list {
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

.list {
    height: 100%;
    width: 250px;
    margin-top: 18%;
}

.row {
    height: 8px;
    width: 10px;
    margin-top: 13px;
    fill: #dd5d5d;
    cursor: pointer;
}

ul {
    width: 100%;
}

.faq--list {
    width: 100%;
}


li {
    list-style-type: none;
}

.concept__text {
    display: none;
}

.text {
    display: contents;
    transition: 0.08s;
}

.row-rotate {
    transform: rotate(180deg);
    transition: 0.8s;
}
